################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/people_analytics/people_analytics.dbmdl
/people_analytics/people_analytics.jfm
